.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo{
    background-color: darkgray;
    height: 100vh;
   
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #af9c9c;
}
